<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your name.." formControlName="firstname">


      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your last name.." formControlName="lastname">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your last email.." formControlName="email">

      <div>
        <span style="color: red;" *ngIf="!reactiveForm.get('personalDetails.email').valid">The email is not valid!</span>
      </div>
    </div>



    <button>Set Default Values</button>

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="bulgaria">Bulgaria</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <span *ngFor="let gen of gender">
      <input type="radio" id="{{gen.id}}" value="{{gen.value}}" formControlName="gender" [ngModel]="defaultGender">
      <label for="male">{{gen.value}}</label>
    </span>
    <br><br>
    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" formControlName="hobbies" ngModel> Sports</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies" ngModel> Movies</label>
      <label><input type="checkbox" value="music" formControlName="hobbies" ngModel> Music</label>
    </div>

    <input type="submit" value="Submit" id="btn">
  </form>
</div>