<div class="main-container">
    <div class="nav-container">
        <ul>
            <li routerLinkActive="active"><a routerLink="home">Home</a></li>
            <li routerLinkActive="active"><a routerLink="about">About</a></li>
            <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
            <li routerLinkActive="active"><a routerLink="courses">Courses</a></li>
            <!-- <li routerLinkActive="active"><a routerLink="" fragment="home">Home</a></li>
            <li routerLinkActive="active"><a routerLink="" fragment="about">About</a></li>
            <li routerLinkActive="active"><a routerLink="" fragment="contact">Contact</a></li>
            <li routerLinkActive="active"><a routerLink="" fragment="courses">Courses</a></li> -->
        </ul>
    </div>
    <div class="component-container">
        <!-- <app-home id="home"></app-home>
        <app-about id="about"></app-about>
        <app-contact id="contact"></app-contact>
        <app-courses id="courses"></app-courses> -->
        <router-outlet></router-outlet>
    </div>
</div>