<div appHighlight>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, sapiente? Blanditiis nihil molestias sequi, quaerat magnam iusto dolor ipsa eius fugiat quo repellat distinctio pariatur numquam fugit quia rerum ea.</p>
</div>

<div appHover>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo velit molestias ullam dolore minima consequuntur earum quo, ducimus praesentium explicabo nostrum saepe sequi iure illum rem, unde quaerat dolores voluptate?
    A, quidem, maxime tempore velit qui quia et eligendi amet molestiae dicta ipsum animi commodi repellat autem corrupti voluptatum sed nobis adipisci dolores consequuntur maiores nisi dolor similique voluptatem. Sed!</p>
</div>