<h2>Company Listing</h2>

<div class="mat-elevation-z8">
    <table matTable [datasource]="companydata" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderDefCell>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderDefCell>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="empcount">
            <th mat-header-cell *matHeaderDefCell>Emp count</th>
            <td mat-cell *matCellDef="let element">{{element.empcount}}</td>
        </ng-container>

        <ng-container matColumnDef="revenue">
            <th mat-header-cell *matHeaderDefCell>Revenue</th>
            <td mat-cell *matCellDef="let element">{{element.revenue}}</td>
        </ng-container>

        <ng-container matColumnDef="adress">
            <th mat-header-cell *matHeaderDefCell>Adress</th>
            <td mat-cell *matCellDef="let element">{{element.adress}}</td>
        </ng-container>

        <ng-container matColumnDef="isactive">
            <th mat-header-cell *matHeaderDefCell>Is Active</th>
            <td mat-cell *matCellDef="let element">{{element.isactive}}</td>
        </ng-container>

        <ng-container matColumnDef="acton">
            <th mat-header-cell *matHeaderDefCell>Action</th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <a mat-raised-button color="primary">Edit</a>
                    <a mat-raised-button color="accent">Delete</a>
                </div>
            </td>
        </ng-container>

    </table>
</div>
